{% extends 'base.html' %}

{% block title %}Railway Machines{% endblock %}

{% block content %}

<div class="card card-image"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); background-size: cover; height: 100vh;">

  <!-- Content -->
  <div class="mask flex-center rgba-black-strong">
    <div class="col">
      <div class="text-white text-center d-flex align-items-center py-5 px-4">
        <div>
          <h5 class="text-warning" style="letter-spacing: 3px;"> VMM CORE PRODUCTION</h5>
          <h3 class="card-title pt-2"><strong>О программе:</strong></h3>
          <p>Программа предназначена для автоматизированого рабочего места</p>
          <h3 class="card-title pt-2"><strong>Контакты:</strong></h3>
          <a href="vmmcore1@gmail.com">Email: vmmcore1@gmail.com</a>
          <br>
          <a href="#"><i class="fab fa-github fa-2x m-2 cyan-text"></i></a>
          <a href="#"><i class="fab fa-viber fa-2x m-2 indigo-text"></i></a>

            </div>
      </div>
    </div>
    <div class="col">
      <div class="text-white text-center d-flex align-items-center py-5 px-4">
        <div>
          <h5 class="text-warning"> VMM Core</h5>
          <h3 class="card-title pt-2"><strong>Главная</strong></h3>
          <p>Нажмите кнопку "Войти" что-бы попасть на страницу авторизации</p>
          <a class="btn btn-warning mt-4">Войти</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    overflow: hidden;
  }
</style>
{% endblock %}