{% extends 'base.html' %}

{% block title %}Railway Machines{% endblock %}

{% block content %}

    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>
    <h1>HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME</h1>

{% endblock %}
