{% extends 'base.html' %}

{% load static %}

{% block add_head_link %}
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
{% endblock add_head_link %}


{% block content %}
<div class="card card-image"
  style="background-image: url('/media/static_img/back_train.jpg'); background-size: cover; height: 100vh;">
  <div class="mask flex-center rgba-black-strong">
    
    <form class="text-center border border-dark rounded-lg p-5" action="{% url 'mylogin' %}" method="POST">
        {% csrf_token %}
        <p class="h4 mb-4">Авторизація</p>

        <!-- Email -->
        <input type="text" name="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Логін">

        <!-- Password -->
        <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Пароль">

        <button class="btn btn-info btn-block my-4" type="submit">Увійти в систему</button>
        {{ message | default:''}}
      </form>
</div>
    </div>
  </div>


       
</div>
<style>
    body {
        overflow: hidden;
      }
    form {
        position: absolute;
        width: 400px;
        background: #ffffff;
    }
</style>


{% endblock %}