{% extends 'senior-driver/_base_page_driver.html'%}

{% block title %}Додатки{% endblock %}

{% block content_page %}
    <h2 class="mt-4 text-center">Інформація</h2>
    <div class="row pt-4">
        <div class=" col-2 offset-2 text-center">
            <img src="{{ driver.avatar.url}}" alt="{{driver.user.username}}" class="rounded-circle" width="150">
        </div>
        <div class="col-6">
            <p class="font-larger">Машиніст <b>{{driver.user.last_name}} {{driver.user.first_name}}</b></p>
            <p class="font-weight-bolder font-larger">@{{driver.user.username}}</p>
            <p class="font-larger">Бригада №{{driver.brigade_name}}</p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-6 offset-2 pt-3">
            <p class="font-larger"><i class="fa fa-phone" aria-hidden="true"></i> <span>{{driver.telephone1}}</span>
                {% if driver.telephone2 %}, <span>{{driver.telephone2}}</span>{% endif %} </p>
            <p class="font-larger"><i class="fa fa-envelope"></i> <span>{{driver.user.email}}</span></p>
            <p class="font-italic">За даними контактами з Вами можуть зв'язуватись директор та інженери</p>
        </div>
    </div>   
    <h3 class="text-center pt-4">Контакти керівництва</h3>
        
        {% for engineer in engineers %}
        <div class="row pt-4">
            <div class=" col-2 offset-2 text-center">
                <img src="{{ engineer.avatar.url}}" alt="{{engineer.user.username}}" class=" rounded-circle" width="100">
            </div>
            <div class="col-6">
                <p class="font-larger"><b><span class="text-success">Інженер</span> {{engineer.user.last_name}} {{engineer.user.first_name}}</b></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{engineer.telephone1}}</span>
                    {% if engineer.telephone2 %}, <span>{{engineer.telephone2}}</span>{% endif %} </p>
                <p><i class="fa fa-envelope"></i> <span><a href="mailto:{{engineer.user.email}}" style="color: black;">{{engineer.user.email}}</a></span></p>
            </div>
        </div>
        {% endfor %}
        {% for director in directors %}
        <div class="row pt-4">
            <div class=" col-2 offset-2 text-center">
                <img src="{{ director.avatar.url}}" alt="{{director.user.username}}" class=" rounded-circle" width="100">
            </div>
            <div class="col-6">
                <p class="font-larger"><b><span class="text-danger">Директор</span> {{director.user.last_name}} {{director.user.first_name}}</b></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{director.telephone1}}</span>
                    {% if director.telephone2 %}, <span>{{director.telephone2}}</span>{% endif %} </p>
                <p><i class="fa fa-envelope"></i> <span><a href="mailto:{{director.user.email}}" style="color: black;">{{director.user.email}}</a></span></p>
            </div>
        </div>
        {% endfor %}

        
          
        
        
        
{% endblock content_page %}


{% block add_style %}
        <style>
            .font-larger{
                font-size: larger;
            }
                        
          </style>
{% endblock add_style %}
