{% extends 'base.html' %}

{% block title %}Driver page{% endblock %}

{% block content %}


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Привіт, {{ user.username }}!</a>
                <li class="nav-item">
                    <a href="{% url 'mylogout' %}" class="nav-link">Вийти</a>
                </li>
            </ul>
        </div>
    </nav>


    <h1>HOME PAGE SENIOR DRIVER</h1>
    <h1>HOME PAGE SENIOR DRIVER</h1>
    <h1>HOME PAGE SENIOR DRIVER</h1>
    <h1>HOME PAGE SENIOR DRIVER</h1>
    <h1>HOME PAGE SENIOR DRIVER</h1> 
    <br>
    <p><a href="{% url 'driver:report' %}">Створити звіт</a></p>
    <p><a href="{% url 'driver:my_reports' %}">Мої звіти</a></p>
    <p><a href="{% url 'driver:machines' %}">Мої машини</a></p>
    <p><a href="{% url 'driver:about'%}">about me</a></p>

{% endblock %}