{% extends 'senior-driver/_base_page_driver.html' %}

{% block content_page %}

    <div class="container-fluid">
        <h1 class="mt-4 text-center alert">Головна сторінка старшого машиніста</h1>
        <div class="content-text">
            <div class="row justify-content-center">
                <div class="col-10">
                    <ul class="alert">
                        <li>
                            <p>Основна функція програми для водія - <a href="{% url 'driver:make-report' %}">Заповнення звіту</a>.</p>
                            <p style="text-indent: 2em;">
                                Звіт створюється в кінці робочої зміни. В звіт вносяться дані машин, які належать Вам і які були 
                                використані в ході робочого дня. Для внесення даних треба обрати дату (по замовченню - це дата коли звіт заповнюється), вибрати необхідні машини і внести інформацію 
                                за кожною машиною. Це скільки мотогодин пройдено, скільки палива використано. Якщо робоча машина була 
                                зламана/є пошкодження потрібно вказати це у звіті. Після відправлення звіту інформація попадає до 
                                головного інженера і він приймає подальші рішення.</p>
                            <p>
                        </li>
                        <li><p>
                        У вкладці <a href="{% url 'driver:my_reports'%}">"Мої звіти"</a> Ви можете подивитись всі звіти, які були заповненні та передані до головного інженера.
                    </p>
                        </li>
                        <li><p>
                            Вкладка <a href="{% url 'driver:machines'%}">"Мої машини"</a> знаходиться інформація про машини, які Вам належать. 
                            Там Ви зможете подивитись дані і стан конкретної машини. 
                        </p></li>
                        <li><p>
                            Вкладка <a href="{% url 'driver:about'%}">"Додатки"</a> містить деяку Вашу інформацію, графік виходу на роботу, 
                            телефони та email-адреси для зв'язку з головним інженером і директором  
                        </p></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content_page %}


{% block add_style %}
    <style> 
        p{
            font-size: larger;
            text-align: justify;
            line-height: 2;
        }       
    </style>
{% endblock add_style %}