{% extends 'base.html' %}

{% block title %}Зробити звіт{% endblock %}

{% block content %}

    <h2>Створення звіту</h2>
    <form action="{% url 'driver:report' %}" method="POST">
        {% csrf_token %}

        <p><label for="motohour">Мотогини:</label>
        <input type="number" step="0.1" name="motohour" id="motohour" required></p>
    
        <p><label for="fuel">Використано бензину:</label>
        <input type="number" step="0.1" name="fuel" id="fuel" required></p>

        <p><label for="date">Дата:</label>
        <input type="date" name="date" id="date" required></p>
    
        
        
        <select id="machine" name="machine">
            {% for machine in can_use_machines %}
            <option value="{{machine.id}}">
                {{machine.full_name}}
            </option>
            {% endfor %}
        </select>
        <br><br>
        <p><label for="breakage">Була поломка:</label>
            <input type="checkbox" name="breakage" id="breakage"></p>

        <input type="submit" value="Submit">
    </form>
    <br><br><br><br><br>

    <a href="{% url 'driver:home-page' %}">В особистий кабінет</a>

{% endblock %}