{% extends 'senior-driver/_base_page_driver.html'%}
{% load static %}

{% block add_head_link_2 %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL7BsIUwiM3SSVg65sc3U-oklrdxU77eY&v=3.exp&libraries=places&language=uk&region=UA"></script>
    <script src="{% static 'js/google_maps_marker_add.js'%}"></script>
{% endblock add_head_link_2 %}

{% block title %}Створення звіту {% endblock %}

{% block content_page %}

<div>

    {% if machines %}

    <h1 class="mt-4 mb-6 text-center">Продовження створення звіту за {{date}}</h1>
    <div class="content-text">
        <p class="text-center"><a href="javascript:history.back()">повернутись до вибору машин</a></p>
        <p class="offset-1 pt-4 pb-4" style="font-size: larger;"><span style="font-weight: bold;" class="pr-4">3.</span>
            Заповніть дані по кожній обраній машині:</p>

        <form class="form-group" action="{% url 'driver:make-report-fill' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <div class="col-8 mx-auto">
                {% for machine in machines %}
                <input type="hidden" name="choices" value="{{machine.id}}">
                <div class="col-12 pb-4">
                    <div class="card">
                        <h5 class="card-header">Машина {{machine.full_name}}</h5>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="motog{{machine.id}}" class="col-sm-3 col-form-label">Пройдено
                                    мотогодин:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="motog{{machine.id}}" name="motohour"
                                        placeholder="мото/год" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fuel{{machine.id}}" class="col-sm-3 col-form-label">Використано
                                    дизелю:</label>
                                <div class="col-sm-9">
                                    <input type="number" step="0.1" class="form-control" id="fuel{{machine.id}}"
                                        name="fuel" placeholder="літри" required>
                                </div>
                            </div>
                            <div class="form-group form-check pt-2">
                                {#  костыль, но работает. Hidden поле - для передачи на бек, #}
                                {#  должно идти перед основным чекбоксом. #}
                                {#  div с классом breakage_info - в одном диве с чекбоксом (для jquery) #}
                                <input type="hidden" value="off" name="breakage">
                                <input type="checkbox" value="on" name="breakage" class="breakage form-check-input"
                                    id="breakage{{machine.id}}">
                                <label class="form-check-label" for="breakage{{machine.id}}">Була несправність?</label>
                                <div class="breakage_info"><br>
                                    <textarea class="form-control" name="breakage_info" id="info_breakage{{machine.id}}"
                                        rows="1" placeholder="Опишіть несправність..."></textarea>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="var markersArray = [];" data-target=".bd-example-modal-lg">Додати маршрут</button>
                            
                            <div>
                                <p id="latFld"></p>
                            </div>
                            <div>
                                <p id="lngFld"></p>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mt-3" name="sendData" value="Відправити дані">
                </div>

            </div>
        </form>

        {% else %}
        <p class="offset-1 pt-5 pb-4 text-danger" style="font-weight: bold; font-size: larger;">Ви не вибрали машини,
            які будуть відображатись у звіті!</p>
        <a href="{% url 'driver:make-report' %}" class="offset-1 btn btn-primary">Перейти до вибору машин</a>
        {% endif %}
    </div>
</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title">Місце роботи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                          <div class="col-12 pt-10">
                            <div id="map-canvas" style="height: 400px;"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Зберегти</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                  </div>
            </div>
        </div>
    </div>
<div>

{% endblock content_page %}


{% block add_style %}
<style>
    .pac-container {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
    }
    .modal{
        z-index: 20;   
    }
    .modal-backdrop{
        z-index: 10;        
    }
    #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
</style>
{% endblock add_style %}


{% block add_js %}
<script src="{% static 'js/bootstrap.js' %}"></script>

<script>
    $(document).ready(function ($) {
        $('input.breakage').change(function () {

            if ($(this).is(':checked')) {
                $(this).nextAll('div.breakage_info').show();
            }
            else {
                $(this).nextAll('div.breakage_info').hide();
            }
        }).change();
    });
    
    
    // вызов модального окна
    $('#myModal').modal('show')
</script>
{% endblock add_js %}