{% extends 'senior-driver/_base_page_driver.html'%}
{% load static %}

{% block add_head_link_2 %}
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL7BsIUwiM3SSVg65sc3U-oklrdxU77eY&v=3.exp&libraries=places&language=uk&region=UA"></script> -->
    <!-- <script src="{% static 'js/google_maps_marker_add.js'%}"></script> -->
{% endblock add_head_link_2 %}

{% block title %}Створення звіту {% endblock %}

{% block content_page %}

    <h1 class="mt-4 mb-6 text-center">Продовження створення звіту за {{date}}</h1>
    {% if machines %}
        <div class="content-text">
        <p class="text-center"><a href="javascript:history.back()">повернутись до вибору машин</a></p>
        <p class="offset-1 pt-4" style="font-size: larger;"><span style="font-weight: bold;" class="pr-4">3.</span>
            Заповніть дані по кожній обраній машині</p> 
        <p class="text-center font-italic col-10 offset-1 text-danger">Якщо Ви обрали для звіту декілька машин, заповнення їх даних проводиться поступово</p>
            
        <form class="form-group" action="{% url 'driver:make-report-fill' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <div class="col-8 mx-auto">
                {% for machine in machines %}
                <input type="hidden" name="choices" value="{{machine.id}}">
                {% endfor %}
                <div class="col-12 pb-4">
                    <div class="card">
                        <h5 class="card-header">Машина {{machine.full_name}}</h5>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="motohour" class="col-sm-3 col-form-label">Пройдено
                                    мотогодин:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="motohour" name="motohour"
                                        placeholder="мото/год" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fuel" class="col-sm-3 col-form-label">Використано
                                    дизелю:</label>
                                <div class="col-sm-9">
                                    <input type="number" step="0.1" class="form-control" id="fuel"
                                        name="fuel" placeholder="літри" required>
                                </div>
                            </div>
                            <div class="form-group form-check pt-2">
                                <input type="checkbox" value="on" name="breakage" class="breakage form-check-input"
                                    id="breakage">
                                <label class="form-check-label" for="breakage">Була несправність?</label>
                            </div>
                            <div class="form-group" id="breakage_info">
                                    <textarea class="form-control" name="breakage_info" rows="1" placeholder="Опишіть несправність..."></textarea>
                            </div>

                            <p id="show_map" class=""><i class="fas fa-map-marker-alt" style="color: red;"></i> помітити місце виконання роботи на мапі</p>
                        
                    
                        <input type="hidden" name="latFld" id="latFld">
                        <input type="hidden" name="lngFld" id="lngFld">
                        <input type="hidden" name="this_machine" value="{{machine.id}}">
                        <input type="hidden" name="report_id" value="{{report_id}}">
                        {% if machines.1 %}
                            <div class="text-center pb-2">
                                <input type="submit" class="btn btn-primary" title="Наступна машина для заповнення: {{machines.1.full_name}}" name="sendData" value="Продовжити">
                            </div>
                        {% else %}
                            <div class="text-center pb-2">
                                <input type="submit" class="btn btn-primary" name="sendData" value="Відправити дані">
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </form>

        <p class="text-center font-italic col-10 offset-1 pb-2">
            <span id="make_map"></span>
            <span>
                <a style="color: blue; text-decoration: underline; cursor: pointer; display: none;" id="deleteMarkerBtn" onclick="deleteMarker()">Видалити маркер</a>
            </span>
        </p>

        <div class="mx-auto" style="display: none;" id="map"></div>
        <script>
            function deleteMarker() {
                if (markersArray) {
                    for (i in markersArray) {
                        markersArray[i].setMap(null);
                    }
                    markersArray.length = 0;
                }

                document.getElementById("latFld").value = "";
                document.getElementById("lngFld").value = "";

                document.getElementById("make_map").textContent = "Ви видалили маркер, дані про місце проведення робіт у звіті міститись не буде. Для повторного обрання місця розташування натисніть на посилання 'помітити місце виконання роботи на мапі'";
               
                document.getElementById("deleteMarkerBtn").style.display = "none";

            }

          var map;
          var markersArray = [];
          function initMap() {
            function placeMarker(location) {
                // first remove all markers if there are any
                deleteOverlays();
        
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
        
                // add marker in markers array
                markersArray.push(marker);
        
                map.setCenter(location);
            }
            // Deletes all markers in the array by removing references to them
            function deleteOverlays() {
                if (markersArray) {
                    for (i in markersArray) {
                        markersArray[i].setMap(null);
                    }
                    markersArray.length = 0;
                }
            }
            map = new google.maps.Map(document.getElementById('map'), {
                center : {"lat": 50.443165, "lng": 30.485434},
                zoom: 8
            });
            // add a click event handler to the map object
            google.maps.event.addListener(map, "rightclick", function (event) {
                // place a marker
                placeMarker(event.latLng);
            
                // display the lat/lng in your form's lat/lng fields
                document.getElementById("latFld").value = event.latLng.lat();
                document.getElementById("lngFld").value = event.latLng.lng();
                
                document.getElementById("make_map").innerHTML = "Ви зробили помітку на мапі (точка <span id='l1'></span>;<span id='l2'></span>). Дана мітка збережена, для її зміни натисніть на необхідне місце правою кнопкою мишки";
                
                document.getElementById("deleteMarkerBtn").style.display = "inline";
                
                document.getElementById("l1").textContent = (event.latLng.lat()).toFixed(2);
                document.getElementById("l2").textContent = (event.latLng.lng()).toFixed(2);
            });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL7BsIUwiM3SSVg65sc3U-oklrdxU77eY&callback=initMap" async defer></script>
        {% else %}
        <div class="content-text">
            <p class="offset-1 pt-5 pb-4 text-danger" style="font-weight: bold; font-size: larger;">Ви не вибрали машини,
                які будуть відображатись у звіті!</p>
            <a href="{% url 'driver:make-report' %}" class="offset-1 btn btn-primary">Перейти до вибору машин</a>
        </div>
        {% endif %}

{% endblock content_page %}

{% block add_style %}
<style>
    #map {
      height: 400px;
      width: 80%;
    }
    #show_map:hover{
        color:rgb(214, 21, 37); 
        text-decoration: underline;
        cursor: pointer
    }
</style>
{% endblock add_style %}


{% block add_js %}
<script src="{% static 'js/bootstrap.js' %}"></script>

<script>
    $(document).ready(function ($) {

        $("#show_map").click(function(){
            $("#map").show();
            document.getElementById("make_map").innerHTML = "Для того, щоб поставити точку на мапі де виконувались роботи на данній машині - натисніть на необхідній частині мапі <b>праву кнопку миши</b>";
                
          });


        $('#breakage').change(function () {

            if ($(this).is(':checked')) {
                $('#breakage_info').show();
            }
            else {
                $('#breakage_info').hide();
            }
        }).change();
    });
    
</script>
{% endblock add_js %}