{% extends 'senior-driver/_base_page_driver.html'%}

{% block title %}Створити звіт{% endblock %}

{% block content_page %}
    <div class="container-fluid">
        <h1 class="mt-4 text-center">Створення звіту</h1>
        <div class="content-text">
            <form action="{% url 'driver:make-report-fill' %}" method="POST">
                {% csrf_token %}
                <p class="pt-4 offset-1"><label for="date"><span style="font-size: larger; font-weight: bold;" class="pr-4">1.</span> <i class="fa fa-calendar" aria-hidden="true"></i><span style="font-size: larger;" class="pr-2"> Оберіть дату:</span></label>
                    <input type="date" value="{{ date_today }}" name="date" id="date" required></p>

                <p class="offset-1 pb-4" style="font-size: larger;"><span style="font-weight: bold;" class="pr-4">2.</span> <i class="fa fa-train" aria-hidden="true"></i><span class="pr-2"> Оберіть колійні машини, які використовувались у цей день:</span></p>
                               
                  
                {% if last_used_machines %}
                    <p class="offset-2 text-info font-italic pb-2">Машини якими найчастіше використувались за останній місяць</p>
                    {% for machine in last_used_machines %}
                    <p class="offset-2"><input type="checkbox" name="choices" value="{{machine.id}}" id="machine{{machine.id}}">
                        <label for="machine{{machine.id}}">{{ machine.machine__name}} {{machine.number_machine}} [IN-{{machine.inventory_number}}]</label>
                    </p>
                    {% endfor %}
                    <p class="offset-2 text-info font-italic pb-2">Всі інші машини</p>
                {% endif %}
                
                <div class="row">
                    <div class="offset-2 col-8">
                        <div class="row">
                            {% for machine in long_used_machines %}
                            <div class="col-6 pb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="choices" value="{{machine.id}}" id="machine{{machine.id}}">
                                    <label class="form-check-label" for="machine{{machine.id}}">{{ machine.machine__name}} {{machine.number_machine}} [IN-{{machine.inventory_number}}]</label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <input type="submit" class="offset-1 btn btn-primary d-block mt-3 mb-3" name="selectMachines" value="Продовжити">
            </form>

            {% if broken_machines %}
                <p class="offset-1 text-primary font-italic pt-4" style="font-size: larger;">Машини які не відображаються через їх знаходження у ремонті:
                <ul class="offset-1 pl-10">
                    {% for machine in broken_machines %}
                        <li class="pb-2">{{ machine.machine__name}} {{machine.number_machine}} {{machine.inventory_number}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock content_page %}

    