{% extends 'senior-driver/_base_page_driver.html'%}

{% block title %}Створити звіт{% endblock %}

{% block content_page %}

    <div class="container-fluid">
        <h1 class="mt-4 text-center">Створення звіту</h1>
        <div class="content-text">
            <form action="{% url 'driver:make-report-fill' %}" method="POST">
                {% csrf_token %}
                <p><label for="date"><i class="fa fa-calendar"></i>Дата:</label>
                    <input type="date" value="{{ date_today }}" name="date" id="date" required></p>

                <h4 class="text-warning my-4">Які машини оберете для звітності:</h4>
                {% if last_used_machines %}
                    <p>Машини якими найчастіше використувались за останній місяць</p>
                    {% for machine in last_used_machines %}
                    <p><input type="checkbox" name="choices" value="{{machine.id}}" id="machine{{machine.id}}">
                        <label for="machine{{machine.id}}">{{ machine.machine__name}} {{machine.number_machine}} [IN-{{machine.inventory_number}}]</label>
                    </p>
                    <hr>
                    {% endfor %}
                    <p>Всі інші машини</p>
                {% endif %}
                
                {% for machine in long_used_machines %}
                
                <p><input type="checkbox" name="choices" value="{{machine.id}}" id="machine{{machine.id}}">
                    <label for="machine{{machine.id}}">{{ machine.machine__name}} {{machine.number_machine}} [IN-{{machine.inventory_number}}]</label>
                </p>
                <hr>
                {% endfor %}

                <input type="submit" class="btn btn-warning d-block mt-3" name="selectMachines" value="Обрати ці машини">
            </form>

        {% if broken_machines %}
        <br>    
        <p>Машини які знаходяться у ремонті:
                <ul>
                    {% for machine in broken_machines %}
                        <li>{{ machine.machine__name}} {{machine.number_machine}} {{machine.inventory_number}}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
        </div>
    </div>
{% endblock content_page %}


{% block add_style %}
    <style>        
    </style>
{% endblock add_style %}


{% block add_js %}
    <script>
        $(document).ready(function ($) {
          
        });
    </script>
{% endblock add_js %}
    