{% extends 'senior-driver/_base_page_driver.html'%}

{% block title %}Мої машини{% endblock %}

{% block content_page %}

    <div class="container-fluid">
        <h2 class="pt-5" style="text-align: center;">Машини які закріплні за Вами:</h2><br>

        {# НЕ СЛОМАННЫЕ МАШИНЫ #}
        {% if my_machines %}
        <div class="row justify-content-around">
            {% for my_machine in my_machines %}
            <div class="card m-2 shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{my_machine.name}} #{{my_machine.number_machine}}</h5>
                    <hr>
                    <p class="card-text">Інвентарний номер: <b>{{my_machine.inventory_number}}</b></p>
                    <p class="card-text">Стан машини: {% if my_machine.breakage %}<span style="color: red; font-weight: bold;">В ремонті!</span>{% else %}<span style="color: green; font-weight: bold;">Робочий</span>{% endif %}</p>
                    <a href="{% url 'machines:detail' my_machine.id %}" class="btn btn-primary">Детальніше</a>
                </div>
                <img class="card-img-top" src="{{my_machine.machine.image.url}}" alt="{{my_machine.name}}">
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 class="pt-5 pl-5">За Вами не числиться жодна машина!</h3>
        {% endif %}
    </div>

{% endblock content_page %}


{% block add_style %}
    <style>        
    </style>
{% endblock add_style %}