{% extends 'senior-driver/_base_page_driver.html'%}

{% block title %}Мої машини{% endblock %}

{% block content_page %}

    <div class="container-fluid">
        <h3>Машини які належать Вам:</h3><br>

        {# НЕ СЛОМАННЫЕ МАШИНЫ #}
        {% if my_machines %}
            <ul>   
            {% for my_machine in my_machines %}
                <li>
                    <p>{{ my_machine.full_name }}  | 
                        <a href="{% url 'machines:detail' my_machine.id %}">детальніше</a></p>
                </li> 
            {% endfor %}
            </ul> 
        {% else %}
            <p>Не має машин</p>
        {% endif %}
        
        {# СЛОМАННЫЕ МАШИНЫ #}
        {% if my_machines_broken %}
            <h3>Машини які зламані і знаходяться в ремонті:</h3>
            <ul>
            {% for my_machine_broken in my_machines_broken %}
                <li>
                    <p>{{ my_machine_broken.full_name }}  | 
                        <a href="{% url 'machines:detail' my_machine_broken.id %}">детальніше</a></p>
                </li>     
            {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock content_page %}


{% block add_style %}
    <style>        
    </style>
{% endblock add_style %}