{% extends 'senior-driver/_base_page_driver.html'%}

{% block title %}Мої звіти{% endblock %}

{% block content_page %}

        <div class="container-fluid">
            <h1 class="mt-4 text-center">Мої звіти</h1>
            <div class="content-text">
                <table class="table_dark">
                    <tr>
                        <th>Дата звіту</th>
                        <th>Машина</th>
                        <th>Мотогодини</th>
                        <th>Використано бензину</th>
                        <th>Стан машини</th>
                    </tr>
                    {% for report in my_reports %}
                    <tr>
                        <td>{{ report.date }}</td>
                        <td>{{ report.machine.full_name }}</td>
                        <td>{{ report.motohour}}</td>
                        <td>{{ report.fuel }}</td>
                        <td>{% if report.breakage %}В ремонті{% else %}В робочому стані{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock content_page %}


{% block add_style %}
    <style>  
        /* TABLE----------------------- */
        .table_dark {
            font-size: 14px;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            background: #252F48;
            margin: 10px;
        }

        .table_dark th {
            color: #EDB749;
            border-bottom: 1px solid #37B5A5;
            padding: 12px 17px;
        }

        .table_dark td {
            color: #CAD4D6;
            border-bottom: 1px solid #37B5A5;
            border-right: 1px solid #37B5A5;
            padding: 20px 27px;
        }

        .table_dark tr:last-child td {
            border-bottom: none;
        }

        .table_dark td:last-child {
            border-right: none;
        }

        .table_dark tr:hover td {
            text-decoration: underline;
        }      
    </style>
{% endblock add_style %}
