{% extends 'base.html' %}


{% block title %}Сторінка Старшого водія{% endblock %}


{% block content %}
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-light py-5">VMM Core Production</div>
    <div class="list-group list-group-flush">
      <a href="{% url 'driver:home-page' %}"
        class="list-group-item list-group-item-action bg-dark text-light border-light border-top"><i
          class="fa fa-home"></i>Головна</a>
      <a href="{% url 'driver:test_report' %}"
        class="list-group-item list-group-item-action bg-dark text-light border-light"><i
          class="fa fa-table"></i>Створити звіт</a>
      <a href="{% url 'driver:my_reports' %}"
        class="list-group-item list-group-item-action bg-dark text-light border-light"><i class="fa fa-truck"></i>Мої
        звіти</a>
      <a href="{% url 'driver:machines' %}"
        class="list-group-item list-group-item-action bg-dark text-light border-light border-bottom"><i
          class="fa fa-wrench"></i>Мої машини</a>
      <a href="{% url 'driver:about'%}"
        class="list-group-item list-group-item-action bg-dark text-light border-light border-bottom"><i
          class="fa fa-calendar"></i>Додатки</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <a class="nav-link text-light" href="#">Привіт, {{ user.username }}!</a>
          <a class="nav-link text-warning" href="{% url 'mylogout' %}"><i class="fa fa-arrow-right"></i>Вийти</a>

        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <h1 class="mt-4 text-center">Створення звіту</h1>
      <div class="content-text">
        <form action="{% url 'driver:test_report' %}" method="POST">
          {% csrf_token %}
          <p><label for="date"><i class="fa fa-calendar"></i>Дата:</label>
            <input type="date" value="{{ date_today }}" name="date" id="date" required></p>
          <input class="form-control mr-sm-2" style="max-width: 250px;" type="search" placeholder="Пошук"
            aria-label="Search">

          <h4 class="text-warning my-4">Які машини оберете для звітності:</h4>

          {% for machine in can_use_machines %}
          <p><input type="checkbox" name="choices" value="{{machine.id}}" id="machine{{machine.id}}"
              {% if machine.el %}checked{% endif %}>
            <label for="machine{{machine.id}}"> {{machine.full_name}}</label>
          </p>
          <hr>
          {% endfor %}

          <input type="submit" class="btn btn-warning d-block mt-3" name="selectMachines" value="Обрати ці машини">
        </form>





        <form class="form-group" action="{% url 'driver:test_report' %}" method="POST">
          {% csrf_token %}
          {% if selected_machine_list %}
          {% for machine in selected_machine_list %}

          {# Скрытые поля для передачи на бек | start #}
          <input type="hidden" name="date" value="{{ date_today }}">
          <input type="hidden" name="choices" value="{{machine.id}}">
          {# Скрытые поля для передачи на бек | end #}

          <div class="form-row border border-dark rounded-lg p-5 col-md-6 mx-auto">

            <div class="form-group">
              <p><b>Машина {{machine.full_name}}</b></p>
            </div>
            <div class="form-group col-md-6">
              <label for="motog{{machine.id}}">Мотогини</label>
              <input type="number" name="motohour" class="form-control" id="motog{{machine.id}}"
                placeholder="Мотогодини (у мото/год)" required>
            </div>
            <div class="form-group col-md-6">
              <label for="fuel{{machine.id}}">Бензин</label>
              <input type="number" step="0.1" name="fuel" class="form-control" id="fuel{{machine.id}}"
                placeholder="Бензин (у літрах)" required>
            </div>

            <div class="custom-control custom-checkbox my-1">

              {#  костыль, но работает. Hidden поле - для передачи на бек, #}
              {#  должно идти перед основным чекбоксом. #}
              {#  div с классом breakage_info - в одном диве с чекбоксом (для jquery) #}

              <input type="hidden" value="off" name="breakage">
              <input type="checkbox" value="on" name="breakage" class="breakage custom-control-input"
                id="breakage{{machine.id}}">
              <label class="custom-control-label" for="breakage{{machine.id}}">Поломка?</label>

              <div class="breakage_info form-group col-md-12">
                <label for="info_breakage{{machine.id}}">Інформація про поломку</label>
                <textarea class="form-control col-md-12" name="breakage_info" id="info_breakage{{machine.id}}"
                  rows="3"></textarea>
                  
              </div>
              <input type="submit" class="btn btn-warning d-block mt-3" name="sendData" value="Відправити дані">
            </div>


          </div>
          {% endfor %}
          {% elif selected_machine_bool %}
          <p>Ви не обрали жодної машини!</p>
          {% endif %}
        </form>
      </div>
    </div>


    <style>
      body {
        overflow-x: hidden;
      }

      .fa {
        margin-right: 10px;
      }

      #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
      }

      #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
      }

      #sidebar-wrapper .list-group {
        width: 15rem;
      }

      #page-content-wrapper {
        min-width: 100vw;
      }

      #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
      }

      @media (min-width: 768px) {
        #sidebar-wrapper {
          margin-left: 0;
        }

        #page-content-wrapper {
          min-width: 0;
          width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
          margin-left: -15rem;
        }
      }
    </style>
    <script>
      $(document).ready(function ($) {
        $('input.breakage').change(function () {

          if ($(this).is(':checked')) {
            $(this).nextAll('div.breakage_info').show();
          }
          else {
            $(this).nextAll('div.breakage_info').hide();
          }
        }).change();
      });
    </script>
    {% endblock %}