{% extends 'senior-machinist/part/_base_page_machinist.html' %}

{% block content_page %}
<div class="container-fluid">
    <h1 class="mt-4 text-center alert">Головна сторінка старшого машиніста</h1>
    <div class="content-text">
        <div class="row justify-content-center">
            <div class="col-10">
                <ul class="alert">
                    <li>
                        <p>Основна функція програми для водія - <a href="{% url 'machinist:route-sheet' %}">Заповнення маршрутного листа</a>.</p>
                        <p style="text-indent: 2em;">
                            Маршрутний лист створюється в кінці робочої зміни. В маршрутний лист вносяться дані машини, яка належать Вам і яка були 
                            використані в ході робочого дня, ділянки де працювала машина та штат бригади. Для внесення даних треба обрати дату, вибрати працівників бригади, які працювали в цей день. 
                            Після відправлення звіту інформація попадає до головного інженера і він приймає подальші рішення.</p>
                        <p>
                    </li>
                    <li><p>
                    У вкладці <a href="{% url 'machinist:show-route-sheet'%}">"Мої маршрутні листи"</a> Ви можете подивитись всі маршрутні листи, які були заповненні та передані до головного інженера.
                </p>
                    </li>
                    <li><p>
                        Вкладка <a href="{% url 'machinist:machine'%}">"Моя машина"</a> містить інформацію про машину, яка закріплна за Вами. 
                        Там Ви зможете подивитись дані і стан конкретної машини. 
                    </p></li>
                    <li><p>
                        Вкладка <a href="{% url 'machinist:machine-status'%}">"Стан машини"</a> містить інформацію про стан машини. 
                        На даній вкладці можна змінити стан машини, тобто якщо у машини є несправність, інформування технічного спеціаліста та інженера відбувається саме тут. 
                    </p></li>
                    <li><p>
                        Вкладка <a href="{% url 'machinist:management-contact'%}">"Керівництво"</a> містить деяку Вашу інформацію,
                        телефони та email-адреси для зв'язку з головним інженером і директором. А у вкладці <a href="{% url 'machinist:brigade-members'%}">"Працівники бригади"</a> 
                        знаходиться інформація по працівникам з Вашої бригади
                    </p></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
    
{% endblock content_page %}


{% block add_style %}
    <style> 
        p{
            font-size: larger;
            text-align: justify;
            line-height: 2;
        }       
    </style>
{% endblock add_style %}