{% extends 'base.html' %}
{% load static %}
{% block title %}All machines{% endblock %}

{% block content %}

    {% if machines %}
    <table class="table">
        <tr>
            <td>Назва машини</td>
            <td>Опис</td>
            <td>Кількість машин</td>
            <td>Вигляд</td>
            
        </tr>
        {% for machine in machines %}
        <tr>
            <td>{{ machine.name }}</td>
            <td>{{ machine.description }}<br><br>
                <a href="#" >Інформація про машини</a>
            </td>
            <td>{{ machine.machine_set.count }}</td>
            <td><img width="200px" src="{{ machine.image.url }}" alt="{{ machine.name }}"> </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>NO MACHINES LIST</p>
    {% endif %}
    <br><br>

{% endblock %}