{% extends 'base.html' %}
{% load static %}
{% block title %}All machines{% endblock %}

{% block content %}
    <div class="back"><input type="button" class="btn btn-warning" onclick='history.back();' value="Назад"></div>
        {% if machines %}
        <h2 class="text-center alert">Опис всіх наявних машин</h2>

        <table class="table table-bordered table-fix">
            <thead class="table-warning text-dark">
            <tr>
                <th scope="col">Назва машини</th>
                <th scope="col">Опис</th>
                <th scope="col">Кількість машин</th>
                <th scope="col">Вигляд</th>
                
            </tr>
            </thead>
            {% for machine in machines %}
            <tr>
                <td>{{ machine.name }}</td>
                <td>{{ machine.description }}<br><br>
                    <!-- <a href="#" >Інформація про машини</a> -->
                </td>
                <td>{{ machine.machine_set.count }}</td>
                <td><img width="200px" src="{{ machine.image.url }}" alt="{{ machine.name }}"> </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>NO MACHINES LIST</p>
        {% endif %}
    
    </div></div>
    <style>
        body{
            overflow-x: hidden;
        }
        .back {
            position: absolute; 
            top: 20px; 
            left: 100px; 
            line-height: 1px;
           }
           .table-fix{
               text-align: center;
           }
    </style>    

{% endblock %}