{% extends 'base.html' %}

{% block content %}

    <!-- Добавляем sidebar -->
    {% include 'parts_element/_sidebar.html' %}

    {% if latest_machines %}
    <table class="table">
        <tr>
            <td>Назва машини</td>
            <td>Інвентарний номер</td>
            <td>Номер машини</td>
            <td>&nbsp;</td>
        </tr>
        {% for machine in latest_machines %}
        <tr>
            <td>{{ machine.name }}</td>
            <td>{{ machine.inventory_number }}</td>
            <td>{{ machine.number_machine }}</td>
            <td><a href="{% url 'detail' machine.id %}">детальніше</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>NO MACHINES LIST</p>
    {% endif %}
    <br><br>

    <!-- Добавляем footer -->
    {% include 'parts_element/_footer.html' %}
{% endblock %}