{% extends 'engineer/_base_page_engineer.html' %}

{% block title %}Машини у ремонті{% endblock title %}

{% block content_page %}

        <div class="container-fluid">
            <h2 class="mt-4 text-center">Інформація про ремонт машини</h2>
            <div class="content-text">
                <h4 class="my-4 text-danger text-center pb-2">Машини які перебувають у ремонті:</h4>
                {% if breakage_machines %}
                {% for breakage_machine in breakage_machines %}
                <div class="card offset-2 col-8 mb-4">
                    <h5 class="card-header"><i class="fa fa-times" style="color: red;"></i> <a href="{% url 'machines:detail' breakage_machine.id %}" class="machine">{{ breakage_machine.name }} {{ breakage_machine.number_machine }}</a> <i class="fa fa-times" style="color: red;"></i></h5>
                    <div class="card-body">
                        <p class="card-text"><span class="font-weight-bold">Водій - </span>
                            {{ breakage_machine.brigade.full_name }}</p>
                        <p class="card-text"><span class="font-weight-bold">Бригада №</span>
                            {{ breakage_machine.brigade.brigade_name }}</p>
                        <p class="card-text"><span class="font-weight-bold">Дата виникнення неспраності: </span>
                            {{ breakage_machine.breakage_date}}</p>
                        <p class="card-text"><span class="font-weight-bold">Інформація про несправність: </span>
                            {{breakage_machine.breakage_info}}</p>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="breakage_machine_id" value="{{breakage_machine.id}}">
                            <input type="submit" name="fix_car" value="Вивести машину з ремонту" class="btn btn-warning">
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h4 class="my-4 text-success offset-1">Всі машини знаходяться в робочому стані!</h4>
                {% endif %}
            </div>
        </div>
{% endblock content_page %}


{% block add_style %}
    <style> 

        a.machine{
            color: black; 
        }
        a.machine:hover{
            text-decoration: underline;
        }
        /* TABLE----------------------- */
        .table_dark {
            font-size: 14px;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            background: #252F48;
            margin: 10px;
        }

        .table_dark th {
            color: #EDB749;
            border-bottom: 1px solid #37B5A5;
            padding: 12px 17px;
        }

        .table_dark td {
            color: #CAD4D6;
            border-bottom: 1px solid #37B5A5;
            border-right: 1px solid #37B5A5;
            padding: 20px 27px;
        }

        .table_dark tr:last-child td {
            border-bottom: none;
        }

        .table_dark td:last-child {
            border-right: none;
        }

        .table_dark tr:hover td {
            text-decoration: underline;
        }
    </style>       
{% endblock add_style %}