{% extends 'engineer/_base_page_engineer.html' %}

{% block content_page %}

        <div class="container-fluid">
            <h1 class="mt-4 text-center">Головна сторінка інженера</h1>
            <div class="content-text">
                <div class="row justify-content-center">
                    <div class="col-10">
                <p class="alert">Основна функція програми для інженера - перевірка звітів, які надійшли від старшого водія і після перевірки передати звіт директору</p>
                <ul class="alert">
                    <li>
                        <p>У вкладці <a href="{% url 'engineer:unforwarded_reports' %}">Невідправлені звіти</a> знаходяться звіти, які прийли від старших машиністів та ще не передані керівництву<br/>
                            Після ознайомлення зі звітом Ви можете відправити їх керівництву. Якщо є якісь деталі - треба зв'язатись зі старшим машиністом, який заповнював звіт.</p>
                        <p>
                    </li>
                    <li><p>
                    У вкладці <a href="{% url 'engineer:forwarded_reports'%}">"Відправлені звіти"</a> знаходяться всі звіти, які були передані керівництву.
                </p>
                    </li>
                    <li><p>
                        Вкладка <a href="{% url 'engineer:drivers'%}">"Старші машиністи"</a> містить інформацію про старших машиністів, 
                        номера телефонів, email-адреси та детальну інформацію про кожного з них 
                    </p></li>
                    <li><p>
                        Вкладка <a href="{% url 'engineer:fix_machines'%}">"Інформація про ремонт машини"</a> містить машини, які у даний момент часу знаходяться в ремонтному цеху.
                        Коли з'являється Інформація про відремонтування машини, Вам потрібно вивести машину з ремонту.
                    </p></li>
                    <li><p>
                        Вкладка <a href="{% url 'engineer:work_days'%}">"Графік роботи"</a> містить деяку Вашу інформацію, графік виходу на роботу, 
                        телефони та email-адреси для зв'язку зі старшими машиністами і директором  
                    </p></li>
                    <li><p>
                        Вкладка <a href="{% url 'engineer:all-machines'%}">"Всі машини"</a> містить інформацію про всі  машини які є у фірми. 
                        Можна подивитись детальну інформацію про конкретну машину, знайти необхідну машину за назвою або інвентарному номеру, або номеру машини. 
                        А також подивитись опис, вигляд, прзначення різних колійних машин. 
                    </p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content_page %}
        

{% block add_style %}
    <style> 
        p{
            font-size: larger;
            text-align: justify;
            line-height: 2;
        }       
    </style>
{% endblock add_style %}
        
