{% extends 'base.html' %}

{% block title %}Звіти{% endblock %}

{% block content %}

    <h3>Звіти</h3><br>
    {% if raports %}
    {% for raport in raports %}
        <p>Звіт за {{ raport.date }}</p>
        <p>Оформив: {{ raport.filled_up.user.first_nama }} {{ raport.filled_up.user.last_name }}</p>
        <p>Машина {{ raport.machine.full_name }}</p>
        <p>Мотогодини: {{ raport.motohour}}. Використано бензину: {{ raport.fuel }} </p>
        <hr>
    {% endfor %}
    
    {% else %}
        <p>Звітів на даний момент немає</p>
    {% endif%}

    <br><br><br>
    <a href="{% url 'engineer:home-page' %}">В особистий кабінет</a>

{% endblock %}