{% extends 'engineer/_base_page_engineer.html' %}

{% block title %}Звіти{% endblock title %}

{% block content_page %}

        <div class="container-fluid">
            <h1 class="mt-4 text-center">Звіти які не передані керівництву:</h1>
            <div class="content-text">
                {% if reports_unforwarded %}
                <table class="table_dark">
                    <tr>
                        <th>Дата звіту</th>
                        <th>Оформив</th>
                        <th>Машина</th>
                        <th>Мотогодини</th>
                        <th>Використано бензину</th>
                        <th>Стан машини</th>
                        <th>Статус</th>
                    </tr>
                    {% for report_unforwarded in reports_unforwarded %}
                    <tr>
                        <td>{{ report_unforwarded.date }}</td>
                        <td>{{ report_unforwarded.filled_up.user.first_nama }}
                            {{ report_unforwarded.filled_up.user.last_name }}</td>
                        <td>{{ report_unforwarded.machine.full_name }}</td>
                        <td>{{ report_unforwarded.motohour}}</td>
                        <td>{{ report_unforwarded.fuel }}</td>
                        <td>Поломка машини!</td>
                        <form action="{% url 'engineer:reports' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="checked" value="True" />
                            <input type="hidden" name="report_id" value="{{report_unforwarded.id}}" />
                            <td><button class="btn_send btn btn-warning text-dark text-center">Відправити</button></td>
                        </form>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                {% endif%}
            </div>
            <h1 class="mt-4 text-center">Звіти які передані керівництву:</h1>
            <div class="content-text">
                {% if reports_forwarded %}
                <table class="table_dark">
                    <tr>
                        <th>Дата звіту</th>
                        <th>Оформив</th>
                        <th>Машина</th>
                        <th>Мотогодини</th>
                        <th>Використано бензину</th>
                        <th>Стан машини</th>
                    </tr>
                    {% for report_forwarded in reports_forwarded %}
                    <tr>
                        <td>{{ report_forwarded.date }}</td>
                        <td>{{ report_forwarded.filled_up.user.first_nama }}
                            {{ report_forwarded.filled_up.user.last_name }}</td>
                        <td>{{ report_forwarded.machine.full_name }}</td>
                        <td>{{ report_forwarded.motohour}}</td>
                        <td>{{ report_forwarded.fuel }}</td>
                        <td>Поломка машини!</td>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif%}
            </div>
        </div>
    </div>
{% endblock content_page %}
    

{% block add_style %}
    <style> 
        /* TABLE----------------------- */
        .table_dark {
            font-size: 14px;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            background: #252F48;
            margin: 10px;
        }

        .table_dark th {
            color: #EDB749;
            border-bottom: 1px solid #37B5A5;
            padding: 12px 17px;
        }

        .table_dark td {
            color: #CAD4D6;
            border-bottom: 1px solid #37B5A5;
            border-right: 1px solid #37B5A5;
            padding: 20px 27px;
        }

        .table_dark tr:last-child td {
            border-bottom: none;
        }

        .table_dark td:last-child {
            border-right: none;
        }

        .table_dark tr:hover td {
            text-decoration: underline;
        }
    </style>       
{% endblock add_style %}