{% extends 'base.html' %}


{% block title %}Сторінка інженера{% endblock %}


{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-light py-5">VMM Core Production</div>
        <div class="list-group list-group-flush">
            <a href="{% url 'engineer:home-page' %}"
                class="list-group-item list-group-item-action bg-dark text-light border-light border-top"><i
                    class="fa fa-home"></i>Головна</a>
            <a href="{% url 'engineer:reports' %}"
                class="list-group-item list-group-item-action bg-dark text-light border-light"><i
                    class="fa fa-table"></i>Звіти</a>
            <a href="{% url 'engineer:drivers' %}"
                class="list-group-item list-group-item-action bg-dark text-light border-light"><i
                    class="fa fa-truck"></i>Старші водії</a>
            <a href="{% url 'engineer:fix_machines' %}"
                class="list-group-item list-group-item-action bg-dark text-light border-light border-bottom"><i
                    class="fa fa-wrench"></i>Інформація про ремонт машин</a>
            <a href="{% url 'engineer:work_days' %}"
                class="list-group-item list-group-item-action bg-dark text-light border-light border-bottom"><i
                    class="fa fa-calendar"></i>Графік роботи</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <a class="nav-link text-light" href="#">Привіт, {{ user.username }}!</a>
                    <a class="nav-link text-warning" href="{% url 'mylogout' %}"><i
                            class="fa fa-arrow-right"></i>Вийти</a>

                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <h1 class="mt-4 text-center">Звіти</h1>
            <div class="content-text">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Звіт за</label>
                            <input type="datetime-local" class="form-control" id="datetime-local">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Оформив</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Машина</label>
                            <input type="text" class="form-control" id="machine">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Мотогодини</label>
                            <input type="number" value="12" step="0.1" class="form-control" id="time"
                                placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Використано бензину</label>
                            <input type="number" value="50" step="0.1" class="form-control" id="fill">
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Поломок немає
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Є поломки
                        </label>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Інформація про поломку"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning text-dark text-center">Відправити</button>
                </form>
                <hr>

                {% if reports_unforwarded %}
    <h4>Звіти які ще не передані керівництву:</h4>
    {% for report_unforwarded in reports_unforwarded %}
        <p>Звіт за {{ report_unforwarded.date }}</p>
        <p>Оформив: {{ report_unforwarded.filled_up.user.first_nama }} {{ report_unforwarded.filled_up.user.last_name }}</p>
        <p>Машина {{ report_unforwarded.machine.full_name }}</p>
        <p>Мотогодини: {{ report_unforwarded.motohour}}. Використано бензину: {{ report_unforwarded.fuel }} </p>
        
        {% if reports_unforwarded.breakage %}
            <br>    
            <p>Поломка машини!</p>
            <p>Інформація про поломку: ---- ДОБАВИТЬ ПОЛЕ В БД ----</p>
        {% endif %}
        <br>
        <form action="{% url 'engineer:reports' %}" method="POST">
            {% csrf_token %}
            <!-- можно добавить модально окно "уверены что хотите передать директору?" -->
            <input type="hidden" name="checked" value="True" />
            <input type="hidden" name="report_id" value="{{report_unforwarded.id}}" />
            <button>Передати керівництву</button> 
        </form>
        <hr>
        
    {% endfor %}
    <br><br>
    {% endif%}

    {% if reports_forwarded %}
    <h4>Звіти які передані керівництву:</h4>
    {% for report_forwarded in reports_forwarded %}
        <p>Звіт за {{ report_forwarded.date }}</p>
        <p>Оформив: {{ report_forwarded.filled_up.user.first_nama }} {{ report_forwarded.filled_up.user.last_name }}</p>
        <p>Машина {{ report_forwarded.machine.full_name }}</p>
        <p>Мотогодини: {{ report_forwarded.motohour}}. Використано бензину: {{ report_forwarded.fuel }} </p>
        
        {% if report_forwarded.breakage %}
            <br>    
            <p>Поломка машини!</p>
            <p>Інформація про поломку: ---- ДОБАВИТЬ ПОЛЕ В БД ----</p>
        {% endif %}
        
        <hr>
    {% endfor %}
    {% endif%}
            </div>
        </div>

        <style>
            body {
                overflow-x: hidden;
            }

            .fa {
                margin-right: 10px;
            }

            #sidebar-wrapper {
                min-height: 100vh;
                margin-left: -15rem;
                -webkit-transition: margin .25s ease-out;
                -moz-transition: margin .25s ease-out;
                -o-transition: margin .25s ease-out;
                transition: margin .25s ease-out;
            }

            #sidebar-wrapper .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
            }

            #sidebar-wrapper .list-group {
                width: 15rem;
            }

            #page-content-wrapper {
                min-width: 100vw;
            }

            #wrapper.toggled #sidebar-wrapper {
                margin-left: 0;
            }

            @media (min-width: 768px) {
                #sidebar-wrapper {
                    margin-left: 0;
                }

                #page-content-wrapper {
                    min-width: 0;
                    width: 100%;
                }

                #wrapper.toggled #sidebar-wrapper {
                    margin-left: -15rem;
                }
            }

            /* TABLE----------------------- */
            .table_dark {
                font-size: 14px;
                width: 100%;
                text-align: left;
                border-collapse: collapse;
                background: #252F48;
                margin: 10px;
            }

            .table_dark th {
                color: #EDB749;
                border-bottom: 1px solid #37B5A5;
                padding: 12px 17px;
            }

            .table_dark td {
                color: #CAD4D6;
                border-bottom: 1px solid #37B5A5;
                border-right: 1px solid #37B5A5;
                padding: 7px 17px;
            }

            .table_dark tr:last-child td {
                border-bottom: none;
            }

            .table_dark td:last-child {
                border-right: none;
            }

            .table_dark tr:hover td {
                text-decoration: underline;
            }
        </style>

        <script>

        </script>
        {% endblock %}