{% extends 'engineer/_base_page_engineer.html' %}

{% block title %}Робочі дні{% endblock title %}

{% block content_page %}

<div class="container-fluid">
    <h2 class="mt-4 text-center">Робочі години старших машиністів</h2>
    <div class="content-text mt-4">
        <table class="table table-bordered table-fix text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <tr>
                        <td colspan="17">Календарні дні</td>
                    </tr>
                    <td rowspan="3">П.І.Б.</td>
                    
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>-</td>
                </tr>
                <tr class="bg-dark text-light">
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="17">Тривалість роботи</td>
                </tr>
                <tr>
                    <td rowspan="2">Смірнов Валентин</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>6</td>
                    <td>6</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td rowspan="2">Єщенко Андрій</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                    <td>В</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                    <td>В</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                    <td>В</td>
                    <td>10</td>
                    <td>10</td>
                    <td>В</td>
                </tr>
                <tr>
                    <td rowspan="2">Топчієв Микола</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td rowspan="2">Тигренко Володимир</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td rowspan="2">Хігонов Антон</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>В</td>
                    <td>12</td>
                    <td>В</td>
                    <td>В</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <h5 class="my-4 font-weight-bold">Умовні позначення:</h5>
        <p>10 - Робочі години 8:00 - 19:00, перерва 13:00 - 14:00</p>
        <p>12 - Робочі часи 7:00 - 20:00, перерва 13:00 - 14:00</p>
        <p>6 - Робочі часи 7:00 - 13:00</p>
    </div>
</div>

{% endblock content_page %}

{% block add_style %}
<style>
    /* TABLE----------------------- */
    .table-fix {
        background: #2b3d6b;
        color: #fff;
    }
</style>
{% endblock add_style %}