{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    {% block add_head_link %}{% endblock add_head_link %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    

    {% endblock %}
</body>
</html>