{% extends 'director/_base_page_director.html'%}


{% block title %}Працівники{% endblock %}


{% block content_page %}

<div class="container-fluid">
    <h2 class="mt-4 text-center">Працівники</h2>
        
    <p class="text-center font-italic pt-4 mt-4 font-larger">Контактні дані інженерів</p>
        {% for engineer in engineers %}
        <div class="row col-8 pt-2 mx-auto">
            <div class="card col-12">
                <h5 class="card-header text-center"><span class="text-success">Інженер</span> {{engineer.full_name}}</h5>
                <div class="card-body row">
                    
                    <div class="offset-1 col-3 text-center">
                        <img src="{{ engineer.avatar.url}}" alt="{{engineer.full_name}}" class=" rounded-circle" width="70">
                    </div>
                    <div class="offset-1 col-7">
                        <p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{engineer.phones}}</span></p>
                        <p><i class="fa fa-envelope"></i> <span><a href="mailto:{{engineer.email}}" style="color: black;">{{engineer.email}}</a></span></p>
                    </div>
                </div>
              </div>
        </div>
        {% endfor %}
        <p class="text-center font-italic pt-4 mt-4 font-larger">Контактні дані старших машиністів</p>
        {% for driver in drivers %}
        <div class="row col-8 pb-4 mx-auto">
            <div class="card col-12">
                <h5 class="card-header text-center"><span class="text-danger">Старший машиніст</span> {{driver.full_name}}</h5>
                <div class="card-body row">
                    
                    <div class=" col-4" style="text-align: center;">
                        <img src="{{ driver.avatar.url}}" alt="{{driver.full_name}}" class="rounded-circle pt-2" width="80">
                    </div>
                    <div class="col-8">
                        <p class="font-larger">Закріплений за бригадою № <b>{{driver.brigade}}</b></p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{driver.phones}}</span></p>
                        <p><i class="fa fa-envelope"></i> <span><a href="mailto:{{driver.email}}" style="color: black;">{{driver.email}}</a></span></p>
                    </div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content_page %}


{% block add_style %}
<style>
    .table-fix {
        background: #2b3d6b;
        color: #fff;
    }
</style>
{% endblock add_style %}