{% extends 'director/_base_page_director.html'%}


{% block title %}Працівники{% endblock %}


{% block content_page %}


    <div class="container-fluid">
        <h1 class="mt-4 text-center">Працівники</h1>
        <div class="content-text">
            {% if engineers %}
            <h2>Інженери:</h2>
            <table class="table_dark">
                <tr>
                    <th>Працівник</th>
                    <th>Email</th>
                    <th>Телефон</th>
                </tr>
                {% for engineer in engineers %}
                <tr>
                    <td><img width="50px" src="{{engineer.avatar.url}}" alt="{{engineer.full_name}}">
                        {{engineer.full_name}}</td>
                    <td>{{engineer.email}}</td>
                    <td>{{engineer.phones}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            <h2>Старші водії:</h2>
            {% if drivers %}
            <table class="table_dark">
                <tr>
                    <th>Бригада</th>
                    <th>Працівник</th>
                    <th>Email</th>
                    <th>Телефон</th>
                </tr>
                {% for driver in drivers %}
                <tr>
                    <td>№{{driver.brigade}}</td>
                    <td><img width="50px" src="{{driver.avatar.url}}" alt="{{driver.full_name}}">
                        {{driver.full_name}}</td>
                    <td>{{driver.email}}</td>
                    <td>{{driver.phones}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <!-- /#page-content-wrapper -->
    </div>
{% endblock content_page %}
        

{% block add_style %}
<style>
            
    /* TABLE----------------------- */
    .table_dark {
        font-size: 14px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        background: #252F48;
        margin: 10px;
    }
    .table_dark th {
        color: #EDB749;
        border-bottom: 1px solid #37B5A5;
        padding: 12px 17px;
    }
    .table_dark td {
        color: #CAD4D6;
        border-bottom: 1px solid #37B5A5;
        border-right: 1px solid #37B5A5;
        padding: 7px 17px;
    }
    .table_dark tr:last-child td {
        border-bottom: none;
    }
    .table_dark td:last-child {
        border-right: none;
    }
    .table_dark tr:hover td {
        text-decoration: underline;
    }
</style>
{% endblock add_style %}
