{% extends 'director/_base_page_director.html'%}


{% block title %}Працівники{% endblock %}


{% block content_page %}


<div class="container-fluid">
    <h1 class="mt-4 text-center">Працівники</h1>
    <div class="content-text">
        {% if engineers %}
        <h2>Інженери:</h2>
        <table class="table table-bordered table-fix">
            <thead class="table-warning text-dark">
                <tr>
                    <th scope="col">Працівник</th>
                    <th scope="col">Email</th>
                    <th scope="col">Телефон</th>
                </tr>
            </thead>
            {% for engineer in engineers %}
            <tbody></tbody>
            <tr>
                <th scope="row"><img width="50px" src="{{engineer.avatar.url}}" alt="{{engineer.full_name}}">
                    {{engineer.full_name}}</th>
                <td>{{engineer.email}}</td>
                <td>{{engineer.phones}}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
        <h2>Старші водії:</h2>
        {% if drivers %}
        <table class="table table-bordered table-fix">
            <thead class="table-warning text-dark">
                <tr>
                    <th>Бригада</th>
                    <th>Працівник</th>
                    <th>Email</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            {% for driver in drivers %}
            <tbody>
                <tr>
                    <td>№{{driver.brigade}}</td>
                    <td><img width="50px" src="{{driver.avatar.url}}" alt="{{driver.full_name}}">
                        {{driver.full_name}}</td>
                    <td>{{driver.email}}</td>
                    <td>{{driver.phones}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <!-- /#page-content-wrapper -->
</div>
{% endblock content_page %}


{% block add_style %}
<style>
    .table-fix {
        background: #2b3d6b;
        color: #fff;
    }
</style>
{% endblock add_style %}