{% extends 'director/_base_page_director.html'%}

{% block content_page %}

    <div class="container-fluid">
        <h1 class="mt-4 text-center">Головна</h1>
        <div class="content-text">
            <div class="row justify-content-center">
                <div class="col-10">
        <ul class="alert">
            <li>
                <p>У вкладці <a href="{% url 'director:reports' %}">Звіти</a> знаходяться інформація про звіти, які були створені старшими машиністами та передані головним інженером.<br/>
                   
                <p>
            </li>
            <li><p>
            У вкладці <a href="{% url 'director:statistics'%}">"Статистика"</a> знаходиться інформація про якість роботи машиністів. 
            Дані у вигляді графік з можливістю налаштування даних які будуть відображатись.
        </p>
            </li>
            <li><p>
                Вкладка <a href="{% url 'director:employees'%}">"Працівники"</a> містить інформацію про головних інженерів та старших машиністів, 
                номера телефонів, email-адреси та детальну інформацію про кожного з них. 
            </p></li>
            <li><p>
                Вкладка <a href="{% url 'director:all-machines'%}">"Всі машини"</a> містить інформацію про всі  машини які є у фірми. 
                Можна подивитись детальну інформацію про конкретну машину, знайти необхідну машину за назвою або інвентарному номеру, або номеру машини. 
                А також подивитись опис, вигляд, прзначення різних колійних машин. 
            </p></li>
        </ul>
    </div></div></div>
{% endblock content_page %}


{% block add_style %}
    <style> 
        p{
            font-size: larger;
            text-align: justify;
            line-height: 2;
        }       
    </style>
{% endblock add_style %}