{% extends 'base.html' %}

{% block title %}Звіти{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Привіт, {{ user.username }}!</a>
            </li>

        </ul>
    </div>
</nav>

<div class="content">

    <div class="sidebar">
        <div class="col-md-3">
            <div class="sidebar-menu">
                <h3 class="sidebar-title">VMM CORE Production</h3>
                <h5 class="sidebar-title_sec">API DATA</h5>
                <div class="links">
                    <li><a href="{% url 'director:home-page' %}"><i class="fa fa-home"></i>Головна</a></li>
                    <li><a href="{% url 'director:reports' %}"><i class="fa fa-table"></i>Звіти</a></li>
                    <li><a href="{% url 'director:statistics' %}"><i class="fa fa-check"></i>Статистика</a></li>
                    <li><a href="{% url 'director:employees' %}"><i class="fa fa-user"></i>Працівники</a></li>
                </div>
                <div class="link-exit">
                    <a href="{% url 'mylogout' %}"><i class="fa fa-arrow-right"></i>Вийти</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-info">
                <div class="content-title">
                    Звіти
                </div>
                <div class="content-text">
                    {% if reports %}
                        <table class="table_dark">
                            <tr>
                              <th>Дата звіту</th>
                              <th>Оформив</th>
                              <th>Машина</th>
                              <th>Мотогодини</th>
                              <th>Використано бензину</th>
                              <th>Стан машини</th>
                            </tr>
                            {% for report in reports %}
                                <tr>
                                  <td>{{ report.date }}</td>
                                  <td>{{ report.filled_up.user.first_nama }} {{ report.filled_up.user.last_name }}</td>
                                  <td>{{ report.machine.full_name }}</td>
                                  <td>{{ report.motohour}}</td>
                                  <td>{{ report.fuel }}</td>
                                  <td>{% if report.breakage %}В ремонті{% else %}Робоча{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: sans-serif;
        width: 100%;
        overflow-x: hidden;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .sidebar {
        display: flex;

    }

    .sidebar-menu {
        background: rgb(44, 44, 44);
        background: linear-gradient(188deg, rgba(44, 44, 44, 1) 0%, rgba(44, 44, 44, 1) 35%, rgba(59, 63, 64, 1) 100%);
        color: #ffffff;
        height: 93vh;
        position: relative;
    }

    .sidebar-title {
        text-align: center;
        font-size: 25px;
        padding-top: 30px;
        letter-spacing: 3px;
    }

    .sidebar-title_sec {
        text-align: center;
        margin-top: 10px;
        color: #868686;
    }

    .links {
        list-style: none;
        margin-top: 30px;
    }

    .links li {

        border: 1px solid #868686;
        border-left: none;
        background-color: #222222;
    }

    .links li a {
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 20px 15px;
        transition: .3s;
    }

    .links li:nth-child(2) {
        background-color: rgb(46, 134, 216);
    }

    .links li a:hover {
        background-color: rgb(46, 134, 216);
        color: #ffffff;
    }

    .link-exit {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .link-exit a {
        color: #ffffff;
        text-decoration: none;
        transition: .3s;
        letter-spacing: 2px;
    }

    .link-exit a:hover {
        color: #c20f0f;
    }

    i {
        padding-right: 10px;
    }

    .content-title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
    }

    .content-info {
        padding-right: 30px;
        padding-top: 30px;
    }

    .col-md-3 {
        padding-left: 0;
    }

    /* TABLES ------------------------ */
    .table_dark {
  font-size: 14px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px;
}
.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  text-decoration: underline;
}
</style>


{% endblock %}