{% extends 'director/_base_page_director.html'%}


{% block title %}Статистика{% endblock %}


{% block add_head_link_2 %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock add_head_link_2 %}


{% block content_page %}}
    <div class="container-fluid">
        <h2 class="text-center">Статистика</h2>
        <p class="text-center font-italic pt-4 pb-4" style="font-size: larger;">нижче приведені всі бригади. Ви можете подивитись статистику потрібної бригади, натиснувши на кнопку "Показати статистику"</p>
        <div class="content-text pt-4">
            {% if drivers %}
            <table class="table table-bordered table-fix">
                <thead class="table-warning text-dark">
                <tr>
                    <th scope="col">Бригада</th>
                    <th scope="col">Працівник</th>
                    <th scope="col">Email</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Статистика</th>
                </tr>
                </thead>
                {% for driver in drivers %}
                <tbody>
                <tr>
                    <th scope="row">№{{driver.brigade_name}}</th>
                    <td><img width="50px" src="{{driver.avatar.url}}" alt="{{driver.full_name}}">
                        {{driver.full_name}}</td>
                    <td>{{driver.user.email}}</td>
                    <td>{{driver.phones}}</td>
                    <td>
                        <a href="{% url 'director:brigade-statistic' driver.id %}" class="btn btn-warning">Показати статистику</a>
                    </td>
                </tr>
            </tbody>
                {% endfor %}
            </table>
            {% endif %}
            
        </div>
    </div>
{% endblock content_page %}
    




{% block add_style %}
    <style>
        /* TABLE----------------------- */
        .table-fix{
      background: #2b3d6b;
      color: #fff;
    }
    </style>
{% endblock add_style %}

